# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [3]:
# Your code here
df['stars_squared'] = df['stars'].apply(lambda x: x ** 2)
print(df.head(2))

              business_id  cool        date  funny               review_id  \
1  pomGBqfbxcqPv14c3XH-ZQ     0  2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2  jtQARsP6P-LbkyjbO1qNGg     1  2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA

   stars                                               text  useful  \
1      5  I love this place! My fiance And I go here atl...       0
2      1  Terrible. Dry corn bread. Rib tips were all fa...       3

                  user_id  stars_squared
1  msQe1u7Z_XuqjGoqhB0J5g             25
2  msQe1u7Z_XuqjGoqhB0J5g              1

## Dates
Select the month from the date string using a lambda function.

In [4]:
# Your code here
# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Create a new column 'month' by extracting the month from the 'date' column
df['month'] = df['date'].apply(lambda x: x.month)

# Display the first two rows to verify the new column
print(df.head(2))

              business_id  cool       date  funny               review_id  \
1  pomGBqfbxcqPv14c3XH-ZQ     0 2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2  jtQARsP6P-LbkyjbO1qNGg     1 2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA

   stars                                               text  useful  \
1      5  I love this place! My fiance And I go here atl...       0
2      1  Terrible. Dry corn bread. Rib tips were all fa...       3

                  user_id  stars_squared  month
1  msQe1u7Z_XuqjGoqhB0J5g             25     11
2  msQe1u7Z_XuqjGoqhB0J5g              1     10

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [5]:
# Your code here
df['month'] = pd.to_datetime(df['date']).apply(lambda x: x.month)

## Create a new column for the number of words in the review

In [6]:
# Your code here
df['word_count'] = df['text'].apply(lambda x: len(x.split()))

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [15]:




# Rewrite the following function as a lambda function
#def rewrite_as_lambda(value):
 #   if len(value) < 50:
 #       return 'Short'
 #   elif len(value) < 80:
  #      return 'Medium'
   # else:
   #     return 'Long'
# Hint: nest your if, else conditionals

# Display the first two rows to understand the structure
print(df.head(2))


# Create 'Review_num_words' column
df['Review_num_words'] = df['text'].apply(lambda x: len(x.split()))

# Create 'Review_Length' column based on 'Review_num_words'
df['Review_length'] = df['Review_num_words'].apply(lambda value: 'Short' if len(value) < 50 
else 'Medium' if len(value) < 80 else 'Long')

# Display the updated DataFrame
print(df[['text', 'Review_num_words', 'Review_Length']].head(2))

              business_id  cool       date  funny               review_id  \
1  pomGBqfbxcqPv14c3XH-ZQ     0 2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2  jtQARsP6P-LbkyjbO1qNGg     1 2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA

   stars                                               text  useful  \
1      5  I love this place! My fiance And I go here atl...       0
2      1  Terrible. Dry corn bread. Rib tips were all fa...       3

                  user_id  stars_squared  month  word_count  Review_num_words
1  msQe1u7Z_XuqjGoqhB0J5g             25     11          58                58
2  msQe1u7Z_XuqjGoqhB0J5g              1     10          30                30

TypeError: object of type 'int' has no len()

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [ ]:
# Your code here
print(df['date'].head(5))

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [16]:
# Your code here
df['date'] = df['date'].apply(lambda x: '-'.join(x.split('-')[::-1]))

# Display the updated DataFrame to verify the changes
print(df['date'].head(5))

AttributeError: 'Timestamp' object has no attribute 'split'

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.